<div class="show_recipes" data-controller="recipes-hidden">
  <div class="navbar_sort_of">
    <%= link_to root_path do %>
      <div class="round_btn back">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>
      </div>
    <% end %>
    <h1>Menu</h1>
  </div>

  <div class="settings_recall">
    <div class="menu_bar_settings">
       <%= image_tag 'svg_file/dish_2.svg'%>
      <p class="info"><%=@menu.number_of_recipes%> servings</p>
    </div>
    <div class="menu_bar_settings">
      <%= image_tag 'svg_file/people.svg'%>
      <p class="info"><%=@menu.number_of_people%> people</p>
    </div>
    <div class="menu_bar_settings">
      <%= image_tag 'svg_file/euro.svg' %>
      <p class="info"><%=@menu.budget %></p>
    </div>
  </div>

  <div data-controller="locks" data-locks-menu-id-value ="<%= @menu.id %>" data-locks-recipe-number-value ="<%= @menu.number_of_recipes %>">
    <div data-locks-target="recipes">

      <% @menu.recipes.each do |recipe| %>
        <!-- Si click sur le cadenas alors déclencher l'action create dans le menurecipe
        controller et passer le cadenas en verrouillé -->
          <div class="recipe_card unlocked" data-locks-target="card">
            <div class="recipe_main">
              <div class="recipe_lock" data-locks-target="icon" data-action="click->locks#switch" data-method="post" data-recipe-id="<%= recipe.id %>">
                <i class="fas fa-lock-open"></i>
              </div>
              <%= image_tag(recipe.image_url) %>
              <h2 class="recipe_title"
                  data-action="click->recipes-hidden#toggleDescription"
                  data-recipe-id="<%= recipe.id %>" ><%= recipe.name.truncate(25) %>
              </h2>
              <%= render "components/icon_recipe_content", recipe: recipe %>
            </div>

            <!-- Fonction JS afin d'afficher la descritpion ci-dessous si click
            sur la photo => add class hidden quand click -->
            <div class="recipe_description hidden" id="description_<%= recipe.id %>">
              <h2><%= link_to "#{recipe.url}", target: "_blank" do %>
              <i class="fa-regular fa-rectangle-list"></i></h2>
              <% end %>
              <h3>Ingredients</h3>
              <ul>
                <% recipe.ingredients.each do |ingredient| %>
                  <li><%= ingredient.name.capitalize %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>

    </div>

  </div>

    <div class="menu">
    <%= link_to grocery_list_path(@menu) do %>
      <%= image_tag "svg_file/market.svg"%>
    <% end %>
    <%= link_to menu_archive_path(@menu) do %>
      <%= image_tag "svg_file/home.svg"%>
    <% end %>
    <%= link_to new_menu_path do %>
      <%= image_tag "svg_file/plate.svg"%>
    <% end %>
  </div>

</div>
