
<div class="list-container">
  <h1>Your list</h1>
  <% @recipe_ingredients.each do |element| %>
    <div class="market_card">
      <% unless element.ingredient.image_url.nil? %>
      <%= image_tag(element.ingredient.image_url) %>
      <% end %>
      <div class="market_main">
        <h3 class="market_title"><%= element.ingredient.name[0...18].capitalize %></h3>
        <h2 class="market_weight"><%= element.ingredient.quantity.round  %> <%= element.ingredient.unit %> </h2>
        <h3 class="market_price"><%= element.ingredient.price %>€</h3>
      </div>
    </div>
  <% end %>

  <% @sum=0 %>
  <% @recipe_ingredients.each do |element| %>
  <% @sum += element.ingredient.price %>
  <% end %>

  <div class="list-footer">

    <h3>So expensive ? Change your menu !</h3>
    <%= link_to "javascript:history.go(-1)", class: "validation-btn" do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>

    <h3>Or Save'eat!</h3>
    <%= link_to root_path, class: "validation-btn" do %>
      <i class="fa-solid fa-arrow-right"></i>
    <% end %>

  <h1 class="total-price">
    Your total is <%= @sum.truncate(2) %>€
  </h1>
</div>
