<h1>Grocery List</h1>
<% @recipe_ingredients.each do |element| %>
  <div class="market_card">
    <% unless element.ingredient.image_url.nil? %>
    <%= image_tag(element.ingredient.image_url) %>
    <% end %>
    <div class="market_main">
      <h2 class="market_title"><%= element.quantity.round  %> <%= element.ingredient.unit %> </h2>
      <%# <h3 class="market_description">Used in 4 recipes</h3> %>
      <h3 class="market_weight"><%= element.ingredient.name %></h3>
      <h3 class="market_price_kg"><%= element.ingredient.unit_price.round(2) %>€/unit</h3>
      <h3 class="market_price"><%= element.ingredient.price %>€</h3>
    </div>
  </div>
<% end %>
