<!-- Créer la page de setting avec les icones à cocher pour déterminer
 les critères de recherche => va déterminer les critères d'une fonction recherche
 qui viendra interroger notre DB-->


<div class="setting-overlay">
<!-- créer une modale pour afficher le détail des icones qui apparait lors du hover
quand hover active la classe active  -->
<h1>Select your criters !</h1>

    <%= form_with model: @menu, url: menus_path, method: :post, class:'setting-form' do |form| %>

      <h4> Pour combien de <strong>personnes</strong> fais-tu les courses ?</h4>
      <div class="setting-select-container">
        <div class="svg-img-container">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
          </svg>
        </div>
        <%= form.number_field :number_of_people, class:"form_text_field" %>
      </div>
      <h4> Combien de <strong>recettes</strong> souhaites-tu préparer ?</h4>
      <div class="setting-select-container">
        <div class="svg-img-container">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" id="Flat" fill="none"  stroke-width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" height="48" width="48" stroke="currentColor">
          <path d="M128,80c0,.07129-.00488.14111-.00537.21191-.00147.04932-.00147.09815-.00391.147A44.06056,44.06056,0,0,1,92,123.25781V224a8,8,0,0,1-16,0V123.25781A44.06056,44.06056,0,0,1,40.00928,80.35889c-.00244-.04883-.00244-.09766-.00391-.147C40.00488,80.14111,40,80.07129,40,80c0-.07568.00928-.14941.01123-.22461.00439-.14453.00977-.28906.022-.43457.01221-.146.03028-.29.04981-.43359.01074-.07422.01367-.14795.02588-.22266l8-48a8,8,0,1,1,15.78222,2.63086L57.44385,72H76V32a8,8,0,0,1,16,0V72h18.55615l-6.44726-38.68457a8,8,0,1,1,15.78222-2.63086l8,48c.01221.07471.01514.14844.02588.22266.01953.14355.0376.28759.04981.43359.0122.14551.01758.29.022.43457C127.99072,79.85059,128,79.92432,128,80Zm83.99268-48.1416c-.00245-.165-.01172-.33008-.02491-.49561-.00879-.1123-.019-.22363-.03271-.33447-.01709-.13818-.03858-.27637-.063-.41455-.02441-.13916-.05127-.27686-.08252-.41309-.02539-.10839-.05371-.2163-.0835-.32422-.04443-.16064-.09228-.31884-.14648-.47509-.01514-.04492-.0249-.09033-.041-.13526-.01806-.04834-.041-.09326-.05957-.14111q-.09081-.23511-.19531-.46191-.06738-.148-.14062-.292-.09888-.19335-.208-.38037c-.06445-.11181-.13037-.22168-.19971-.32959-.06592-.10156-.13476-.20019-.20508-.29883-.08447-.11914-.17041-.23584-.26123-.34912-.0664-.08349-.13574-.16406-.20507-.24463-.1001-.11523-.20166-.229-.30762-.33789-.07422-.07617-.15137-.14941-.22852-.22265-.10644-.10156-.21386-.20117-.32568-.29639-.08984-.07666-.18311-.14892-.27637-.22168-.10449-.08105-.20947-.16162-.31787-.23779-.11084-.07764-.2251-.15039-.33984-.22217-.09717-.061-.19434-.12256-.29444-.1792-.13037-.07422-.26367-.14258-.39843-.20947-.09229-.0459-.18409-.0918-.27832-.13428-.14161-.06348-.28565-.12109-.43165-.17676-.09667-.03662-.19287-.07324-.2915-.10644-.13965-.04737-.28174-.08887-.4248-.12842-.11426-.03174-.228-.06152-.34327-.08838-.12695-.02881-.25537-.05371-.38427-.07666-.14063-.02539-.28076-.04687-.42285-.06445-.10889-.01319-.21827-.02393-.32862-.03321q-.24535-.01977-.49365-.0249C204.10352,24.00684,204.05273,24,204,24c-.04834,0-.0957.00635-.14355.00732-.16407.00293-.32813.01172-.49268.02491-.11279.00879-.22461.019-.33594.03271-.13818.01709-.27588.03858-.41406.063-.13916.02441-.27686.05127-.41309.083-.10839.0249-.2163.05322-.32422.083-.16064.04394-.31884.09228-.47509.14648-.04492.01514-.09033.0249-.13526.041-.09863.03613-.1958.0791-.29394.11572-.03711.01513-.0752.02832-.11231.04394-20.60986,7.74561-37.11474,33.0293-49.05713,75.17823a398.22183,398.22183,0,0,0-11.75683,59.32812A8.00051,8.00051,0,0,0,148,168h48v56a8,8,0,0,0,16,0V32C212,31.95215,211.99365,31.90625,211.99268,31.8584Z"/>
        </svg>
        </div>
        <%= form.number_field :number_of_recipes, class:"form_text_field" %> <!-- Remplacer par placeholder dans le form-->
      </div>
      <h4> Quel est ton <strong>budget</strong> ?</h4>
      <div class="setting-select-container">
        <div class="svg-img-container">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <%= form.number_field :budget, class:"form_text_field" %>
      </div>

      <div class="setting-btn-container"  data-controller="inactive-icons-class">
        <h4>Des  <strong>restrictions</strong> alimentaires ?</h4>
        <p>Sélectionne les aliments que tu souhaites <strong>exclure</strong> de ton menu!</p>

        <%= form.check_box :pork_free, style: "visibility: hidden" %>
        <%= form.label :pork_free, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass"
        } do %>
          <svg id="Icons style="enable-background:new 0 0 4 4;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="currentColor" class="gluten" d="M24.4,25.7C22.4,26.5,20,27,17.5,27c-2,0-3.9-0.3-5.6-0.8"/>
            <path class="pork" fill="currentColor" d="M21.9,23.4c0.6,1,1.5,1.9,2.6,2.4L25,26l1,2h3v-3c1.3-2.6,2-5.5,2-8.5v0c0-4.2-3.4-7.5-7.5-7.5h-8.2l0,0  c-2.1-1.9-4.8-3-7.7-3H7l2.4,4c-1.3,0.8-2.4,2-2.9,3.6L6,15c-0.6,1.7-2.3,2.6-4,2v4l6,2v5h3l1-3"/><path class="gluten" fill="currentColor" d="M30.5,18.2c-1.1,1.1-2.8,1.1-3.9,0c-0.9-0.9-0.9-2.3,0-3.2"/><g><path fill="currentColor" d="M10,18c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.1c0-0.1-0.1-0.1-0.1-0.1   c0-0.1-0.1-0.1-0.1-0.2c0-0.1,0-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2c0-0.3,0.1-0.5,0.3-0.7c0,0,0.1-0.1,0.1-0.1c0.1,0,0.1-0.1,0.2-0.1   c0.1,0,0.1,0,0.2-0.1c0.2,0,0.4,0,0.6,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1,0.1,0.3,0.1,0.4   c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1,0.1-0.1,0.1C10.5,17.9,10.3,18,10,18z"/></g>
          </svg>
        <% end %>

        <%= form.check_box :fish_free, style: "visibility: hidden"  %>
        <%= form.label :fish_free, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass",
        } do %>
          <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><circle cx="156" cy="76" r="10"/>
            <path fill="currentColor" class="fish" d="M186.3,167.9H184a48,48,0,0,1-48-48A48,48,0,0,1,88,72a17.7,17.7,0,0,1,.1-2.3" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/><path d="M62.2,153.2,8,176l56,16,16,56,22.8-54.2h0c138.4-3.3,120-122.9,114.4-148.9a8.2,8.2,0,0,0-6.1-6.1c-26-5.6-145.6-24-148.9,114.4Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" class="fish"/>
          </svg>
        <% end %>

        <%= form.check_box :dairy_free, style: "visibility: hidden"  %>
        <%= form.label :dairy_free, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass",
        } do %>
          <svg style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g>
            <path  fill="currentColor" class="milk" d="M26,13.9c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1-0.1-0.2c0,0,0,0,0-0.1L22,6.7V3c0-0.6-0.4-1-1-1H11c-0.6,0-1,0.4-1,1v3.7l-3.9,6.7   c0,0,0,0,0,0.1c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0,0,0,0,0.1V29c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1L26,13.9   C26,13.9,26,13.9,26,13.9z M11,9l2.2,3.9H8.7L11,9z M15.5,12.9L12.7,8h7.7l2.8,4.9H15.5z M12,4h8v2h-8V4z M8,14.9h6V28H8V14.9z    M24,28h-8V14.9h8V28z"/><path d="M10,19h2c0.6,0,1-0.4,1-1s-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1S9.4,19,10,19z"/><path d="M12,20.5h-2c-0.6,0-1,0.4-1,1s0.4,1,1,1h2c0.6,0,1-0.4,1-1S12.6,20.5,12,20.5z"/><path d="M12,24h-2c-0.6,0-1,0.4-1,1s0.4,1,1,1h2c0.6,0,1-0.4,1-1S12.6,24,12,24z"/></g>
          </svg>
        <% end %>

        <%= form.check_box :vegetarian, style: "visibility: hidden"  %>
        <%= form.label :vegetarian, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass",
        } do %>
          <svg height="50" viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" class="vege" d="M11.1792761,10.0089144 C9.38577235,9.8086768 7.07299854,10.6085465 5.47667412,12.2077121 C3.48343099,14.204503 3.54879682,16.6859789 5.42668828,18.5672127 C7.30457973,20.4484465 9.78164682,20.5139287 11.7748899,18.5171379 C13.3509061,16.9383166 14.1492183,14.6599163 13.9769254,12.8732082 C13.8987291,12.0622975 13.6206011,11.3526688 13.1245076,10.8556923 C12.6424991,10.3728259 11.9600987,10.0960901 11.1792761,10.0089144 Z M15.1810701,10.2501896 L16.9944222,8.43361006 L17.6758441,8.88587272 C18.2647143,9.27670851 19.0564377,9.20138579 19.5630483,8.69387349 C20.1488348,8.10704443 20.1488348,7.15560655 19.5630483,6.5687775 C19.3295734,6.33488702 19.0345086,6.18916819 18.7153647,6.14373067 L17.9717082,6.03785395 L17.8660196,5.29287388 C17.8206628,4.973162 17.6752029,4.67757198 17.441728,4.44368151 C16.8559415,3.85685245 15.9061941,3.85685245 15.3204076,4.44368151 C14.813797,4.9511938 14.7386081,5.74432636 15.1287495,6.33424473 L15.5802087,7.01687939 L13.7753518,8.8249486 C14.0490649,9.00103142 14.3045574,9.20556479 14.5381304,9.4395535 C14.7848577,9.68671989 14.9987769,9.95838781 15.1810701,10.2501896 Z M11.7106931,8.05982086 L13.0835999,6.68447047 C12.6398266,5.43768457 12.9292649,4.00561884 13.9061941,3.02695084 C15.2730291,1.65768305 17.4891065,1.65768305 18.8559415,3.02695084 C19.2284937,3.40016611 19.5064463,3.84475891 19.6782931,4.32823159 C20.1609068,4.50038424 20.6047097,4.77883157 20.9772619,5.15204684 C22.3440969,6.52131463 22.3440969,8.74133636 20.9772619,10.1106041 C20.0003327,11.0892721 18.5708113,11.3792255 17.3262406,10.9346625 L15.9255864,12.3378096 C16.2987049,14.8358602 15.2507577,17.8642613 13.1848122,19.9338839 C10.3939526,22.7297109 6.65437776,22.6308538 4.01232238,19.984096 C1.370267,17.3373381 1.27158561,13.5911074 4.06244527,10.7952804 C6.14656053,8.7074557 9.20465976,7.65745829 11.7106931,8.05982086 Z" fill-rule="evenodd"/>
          </svg>
        <% end %>

        <%= form.check_box :gluten_free, style: "visibility: hidden"  %>
        <%= form.label :gluten_free, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass",
        } do %>
          <svg style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">.gluten{fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style>
            <path fill="currentColor" class="gluten" d="M16,16L16,16c-3.3,0-6-2.7-6-6v0h0C13.3,10,16,12.7,16,16L16,16z"/><path class="gluten" d="M16,16L16,16c3.3,0,6-2.7,6-6v0h0C18.7,10,16,12.7,16,16L16,16z"/><path class="gluten" d="M16,13.2L16,13.2c2.3-2.3,2.3-6.1,0-8.5l0,0l0,0C13.7,7.1,13.7,10.9,16,13.2L16,13.2z"/><path class="gluten" d="M16,21L16,21c-3.3,0-6-2.7-6-6v0h0C13.3,15,16,17.7,16,21L16,21z"/><path class="gluten" d="M16,21L16,21c3.3,0,6-2.7,6-6v0h0C18.7,15,16,17.7,16,21L16,21z"/><path class="gluten" d="M16,26L16,26c-3.3,0-6-2.7-6-6v0h0C13.3,20,16,22.7,16,26L16,26z"/><path class="gluten" d="M16,26L16,26c3.3,0,6-2.7,6-6v0h0C18.7,20,16,22.7,16,26L16,26z"/><line class="gluten" x1="16" x2="16" y1="31" y2="26"/><line class="gluten" x1="16" x2="16" y1="5" y2="1"/><line class="gluten" x1="21" x2="21" y1="10" y2="4"/><line class="gluten" x1="11" x2="11" y1="10" y2="4"/>
          </svg>
        <% end %>

        <%= form.check_box :sugar_conscious, style: "visibility: hidden"  %>
        <%= form.label :sugar_conscious, class: "round_btn setting-btn", data: {
          action: "click->inactive-icons-class#toggleInactiveClass",
        } do %>
          <svg  class="sugar" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><g id="Candy"><g>
            <path fill="currentColor" d="M18,9.1l4.5-2.6    c-0.63-0.63-1.33,0.08-2-0.55s0.08-1.33-0.55-2s-1.33,0.08-2-0.54s0.08-1.33-0.54-2L14.9,6" style="fill:none;stroke-linecap:round;stroke-linejoin:round;"/><path d="M6,14.9l-4.5,2.6    c0.63,0.63,1.33-0.08,2,0.55s-0.08,1.33,0.55,2s1.33-0.08,2,0.54s-0.08,1.33,0.54,2L9.1,18" style="fill:none;stroke-linecap:round;stroke-linejoin:round;"/><ellipse cx="12.001" cy="12" rx="7.08" ry="4.95" style="fill:none;stroke-linecap:round;stroke-linejoin:round;" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.9704 12.0004)"/><path d="M8,13.42c0.303-1.34,0.999-2.559,2-3.5" style="fill:none;stroke-linecap:round;stroke-linejoin:round;"/></g></g>
          </svg>
        <% end %>

      </div>

      <div class="menu">
        <%= link_to root_path do %>
          <%= image_tag "svg_file/home.svg"%>
        <% end %>
        <%= button_tag '' do %>
          <div class="group_menu">
            <div class="bounce">
              <h2>Let's Go</h2>
              <%= image_tag "svg_file/arrowb"%>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
</div>
