<h1>Menu</h1>

<%# TODO: <%= link_to "Lock",  menu_menu_recipes_path, method: "POST" %>

<%# TODO: <%= link_to "Unlock", menu_menu_recipe_path, method: "DELETE" %>

<%# TODO: Valider la sélection de recettes/le menu %>

<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe) do %>
  <!-- Si click sur le cadenas alors déclencher l'action create dans le menurecipe
  controller et passer le cadenas en verrouillé -->
    <div class="recipe_card">
      <div class="recipe_main">
        <div class="recipe_lock">
          <i class="fas fa-lock"></i>
        </div>
        <%= image_tag(recipe.image_url) %>
        <h2 class="recipe_title"><%= recipe.name %></h2>
      </div>

      <!-- Ajouter une fonction JS afin de faire afficher la descritpion ci-dessous si clique
      sur la photo => add class hidden quand click -->
      <div class="recipe_description">
      <h2><%= link_to "Instructions", "#{recipe.url}", target: "_blank" %></h2>
      <h3>Ingredients :</h3>
      <ul>
        <% recipe.ingredients.each do |ingredient| %>
        <li><%=  ingredient.name %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>
<% end %>

<%= link_to menu_menu_recipes_create_all_path(@menu) do %>
  <a href="login.html" class="btn-primary">
    <p class="btn-text">Generate your list</p>
    <div class="round_btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </div>
  </a>
<% end %>
