
<%# TODO: <%= link_to "Lock",  menu_menu_recipes_path, method: "POST" %>

<%# TODO: <%= link_to "Unlock", menu_menu_recipe_path, method: "DELETE" %>

<%# TODO: Valider la sélection de recettes/le menu %>

<div class="recipe_card_container" data-controller="recipes-hidden">

  <h1>Menu</h1>
  <div class="menu-bar">
    <div class="menu-bar-settings">
    <%= image_tag 'svg_file/dish_2.svg'%>
    <p><%=@menu.number_of_recipes%></p>
    </div>
    <div class="menu-bar-settings">
      <%= image_tag 'svg_file/people.svg'%>
      <p><%=@menu.number_of_people%></p>
    </div>
    <div class="menu-bar-settings">
      <%= image_tag 'svg_file/euro.svg' %>
      <p><%=@menu.budget %></p>
    </div>
  </div>


  <div data-controller="locks" data-locks-menu-id-value ="<%= @menu.id %>" data-locks-recipe-number-value ="<%= @menu.number_of_recipes %>">

    <div>
      <% @recipes.each do |recipe| %>
        <!-- Si click sur le cadenas alors déclencher l'action create dans le menurecipe
        controller et passer le cadenas en verrouillé -->
          <div class="recipe_card unlocked" data-locks-target="card">
            <div class="recipe_main">
              <div class="recipe_lock" data-locks-target="icon" data-action="click->locks#switch" data-method="post" data-recipe-id="<%= recipe.id %>">
                <i class="fas fa-lock-open"></i>
              </div>
              <%= image_tag(recipe.image_url) %>
              <h2 class="recipe_title"
                  data-action="click->recipes-hidden#toggleDescription"
                  data-recipe-id="<%= recipe.id %>" ><%= recipe.name.truncate(25) %>
              </h2>
              <%= render "components/icon_recipe_content", recipe: recipe %>
            </div>

            <!-- Fonction JS afin d'afficher la descritpion ci-dessous si click
            sur la photo => add class hidden quand click -->
            <div class="recipe_description hidden" id="description_<%= recipe.id %>">
              <h2><%= link_to "#{recipe.url}", target: "_blank" do %>
              <i class="fa-regular fa-rectangle-list"></i></h2>
              <% end %>
              <h3>Ingredients</h3>
              <ul>
                <% recipe.ingredients.each do |ingredient| %>
                  <li><%= ingredient.name.capitalize %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
    </div>

      <button data-locks-target="shuffle" data-action="click->locks#getMoreRecipes">
        <p class="">New Recipes</p>
      </button>

    <%= link_to menu_menu_recipes_create_all_path(@menu) do %>
      <div class="btn-primary generate-disabled" data-locks-target="btn">
        <p class="btn-text">Select Recipes</p>
        <div class="round_btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>
        </div>
      </div>
    <% end %>

  </div>

</div>
