
<div class="dashboard">
  <div class="title">
    <h1>Hello <%= @user %> 👋🏼</h1>
    <p>Feeling hungry ?</p>
  </div>
  <h2>My shopping list</h2>
  <%= link_to grocery_list_path(@menu) do %>
  <div class="list_market">
    <% @recipe_ingredients.each_with_index do |element, index| %>
    <% color = [%w[#F9C80E #755c00], %w[#EF6B22 #ffd9c4], %w[#5DA271 #b1ffc8]][index%3]%>
      <div class="market" style="background-color: <%=color[0]%>">
        <p class="emojie"><%= %w[🍏 🍐 🧄 🧅 🍕 🍗 🍣 🌽 🥑 🍆 🥦 🥬 🥒].shuffle.first %></p>
        <p class="name" style="color: <%=color[1]%>;"><%= element.ingredient.name.size > 16 ? "#{element.ingredient.name.split(" ")[1].size > 8 ? element.ingredient.name.split(" ").first : element.ingredient.name.split(" ")[0..1].join(" ")}..." : element.ingredient.name %></h2>
        <p class="quantity" style="color: <%=color[1]%>;"><%= element.ingredient.quantity.round %> <%= element.ingredient.unit == "" ? "units" : element.ingredient.unit %></p>
      </div>
    <% end %>
  </div>
  <%end%>
  <%= link_to menu_archive_path(@menu) do %>
  <h2>My recipes of the week</h2>
    <% if @menu.nil? %>
      <div class="list_recipe">
        <h1>No Recipes</h1>
      </div>
    <% else %>
      <div class="list_recipe">
        <% @menu.recipes.each do |recipe| %>
          <div class="recipe">
            <img src="<%= recipe.image_url %>" alt="Recipe image">
            <div class="information">
              <p class="name"><%= recipe.name.size > 32 ? "#{recipe.name.split(" ")[1].size > 16 ? recipe.name.split(" ").first : recipe.name.split(" ")[0..3].join(" ")}..." : recipe.name %></p>
              <p class="star"><%= "★★★#{rand(2) == 1 ? "★☆" : "★★"}" %></p>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
  <%end%>

  <div class="menu">
    <%= link_to grocery_list_path(@menu) do %>
      <%= image_tag "svg_file/market.svg"%>
    <% end %>
    <%= link_to menu_archive_path(@menu) do %>
      <%= image_tag "svg_file/recipes.svg"%>
    <% end %>
    <%= link_to new_menu_path do %>
      <%= image_tag "svg_file/plate.svg"%>
    <% end %>
  </div>
</div>
